.post-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
  margin-top: 60px;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-container input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 500px;
}

.input-container label {
  cursor: pointer;
  color: #ea1538;
}

.input-container label:hover {
  text-decoration: underline;
}

.input-container input[type="file"] {
  display: none; 
}

.post-component button {
  padding: 7px 17px;
  border: none;
  border-radius: 3px;
  background-color:#ea1538;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.post-component button:hover {
  background-color: black;
}
