.hero{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../desktop_wallpaper.jpg');
    background-size: cover;
    background-position: cover;
}

.body{
    height: 40%;
    width: 100%;
}