.main-body{
    margin-left: 2%;
    margin-top: 15%;
}

.main-body h1{
    font-size: 50px;
    color:#adb5bd70;
    margin-bottom: 20px;
}

.main-body span{
    color: #ea1538;
}

.main-body p{
    color:grey;
    text-shadow:0 0 3px black, 0 0 1px #ea1538;
    line-height: 22px;
}

.main-body button{
    border:none;
    background: #5e0211;
    padding: 12px 30px;
    border-radius: 10px;
    color:white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
    margin-left: 85px;
}

.main-body button:hover{
    transform:scale(0.9);
    cursor:pointer;
}

