.signupHero{
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../4.jpg');
    background-size: cover;
    background-position: cover;
    
}

.Posts{
    
    width: 500px;
    height: auto;
    padding: 20px;
    margin-top: 30px;
    border: 2px solid rgba(255,255,255,0.3);
    border-radius: 20px;
    border-color: #ea1538;
    backdrop-filter: blur(3px);
    justify-content: center;
    align-items: center;
}

.Postsbody{
    width: 600px;
    height: auto;
    padding: 20px;
    
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    border-color: #ea1538;
    backdrop-filter: blur(3px);
    justify-content: center;
    align-items: center;
}